<router-outlet>

<mat-form-field>
  <mat-label>Selecionar Plano</mat-label>
  <mat-select (selectionChange)="selectClientsByPlan($event.value)">
    <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Selecionar suporte</mat-label>
  <mat-select (selectionChange)="getCliebtsBySuporte($event.value)">
    <mat-option *ngFor="let suporte of suportes" [value]="suporte.id">{{ suporte.name }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="example-button-container">
  <button id="addClient" color="primary" mat-fab extended (click)="openDialog()"> 
    <mat-icon>add</mat-icon>
    Adicionar cliente
  </button>
</div>
<button color="primary" mat-fab routerLink="/clients"> 
  clientes
</button>

<button color="primary" mat-fab routerLink="/tasks"> 
  Tarefas
</button>


</router-outlet>
